body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS from Bootsnip, by: SamimOnline  */
body {
  font-family: "Raleway", sans-serif;

  background: rgb(235, 227, 229);
}

.comments-main {
  background: rgb(211, 174, 174);
}
.comment time,
.comment:hover time,
.icon-rocknroll,
.like-count {
  -webkit-transition: 0.25s opacity linear;
  transition: 0.25s opacity linear;
}
.comments-main ul li {
  list-style: none;
}
.comments .comment {
  padding: 5px 10px;
  background: #1321e2;
}
.comments .comment:hover time {
  opacity: 1;
}
.comments .user-img img {
  width: 50px;
  height: 50px;
}
.comments .comment h4 {
  display: inline-block;
  font-size: 16px;
}
.comments .comment h4 a {
  color: #df2727;
  text-decoration: none;
}
.comments .comment .icon-rocknroll {
  color: #d41616;
  font-size: 0.85rem;
}
.comments .comment .icon-rocknroll:hover {
  opacity: 0.5;
}
.msg-time {
  font-size: 0.75rem;
}
.comments .comment time,
.comments .comment .like-count,
.comments .comment .icon-rocknroll {
  font-size: 0.75rem;
  opacity: 0;
}
.comments .comment time,
.comments .comment .like-count {
  font-weight: 300;
}
.comments .comment p {
  font-size: 13px;
}
.comments .comment p .reply {
  color: #cacadd;
  cursor: pointer;
}
.comments .comment .active {
  opacity: 1;
}
.icon-rocknroll {
  background: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.125rem 0 0;
}
.comments .comment:hover .icon-rocknroll,
.comments .comment:hover .like-count {
  opacity: 1;
}
.comment-box-main {
  background: #1616d3;
}
@media (min-width: 320px) and (max-width: 480px) {
  .comments .comment h4 {
    font-size: 12px;
  }
  .comments .comment p {
    font-size: 11px;
  }
  .comment-box-main .send-btn button {
    margin-left: 5px;
  }
}
